* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-color:  #4a50cd;
}

p, li {
    font-size: 1.2rem;
}

button {
    border: none;
    text-decoration: underline;
    color: #4FF8C6;
    background-color: #5057e6;
    padding: 3%;
    font-weight: 700;
    font-size: 15px;
}

/*header*/
.logo {
    margin-top: 8%;
}

h1 {
    margin-top: 32%; 
    margin-bottom: 32%; 
    display: block;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
}

hr {
    width: 44px; 
    border-top: 3px solid #000000;
    border-color: #4a50cd; 
}

/*bio*/
.bio h2, .expert h2 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 800; 
    color:#4FFEC5;
    margin-bottom: 11%;

}

.subhead {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 5rem;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.1rem;
}

.logo-container {
    background-color:#5056d0;
    margin-top: 7rem;
    padding: .5rem 0;
    margin-bottom: 7rem;
}

/*clients*/
.grid-logos {
    display:grid;
    align-items: center;
}

.grid-logos img {
    margin: auto;

}

.bloc-right {
    background-color: #4FFEC5;
}

.logos1 {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%; 
    background-color: #5057e6;
    padding:3.5%;
}

.logos2 {
    background-color: #4FF8C6;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:10.3%;
    padding:3.5%;
}

/*expertise*/

.expert {
    margin-bottom: 12%;
}

.expert li {
    list-style: none;
    margin-left: 20px;

}

.point {
    color: #4ffec5 !important;
    display: block;
    font-size: 60px;
    margin: 0;
    line-height: 9px;
}

/* challenges */
.challenges {
    margin-bottom: 4%;
    background-color: #4FFEC5;
    height: 500px;
    padding-top: 4%;
}

.challenges h2 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 800; 
    color:#4a50cd;
    margin-bottom: 11%;
}

/* footer */
.contact {
    margin-top: 5%;
    display: flex;
}

.mail, .mail:hover {
    color:#FFFFFF;
}

.last-footer {
    font-size: 0.8rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.contact .photo {
    text-align: right;
}

.made {
    font-size: 0.9rem;
    text-align: right;
}

footer {
    margin-top: 2%; 
}

.contact h2 {
    font-size: 1.5rem;
}

